html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    flex: 1 0 auto;
    display: flex;
}
.sidebar {
    flex: 0 0 250px;
    padding-top: 1rem;
    background-color: #f8f9fa;
}
.container-fluid {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #fff;
}
.navbar {
    flex-shrink: 0;
}